<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <ul class="nav_list">
        <li><a href="/">Shop (Home Page)</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
    </ul>
    <h1>This is Prodcuts Listing</h1>
</body>

</html>