<%- include('../header', {title: title}); %>
<body>
    <ul class="nav_list">
        <li><a href="/">Shop (Home Page)</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
        <li><a href="https://www.google.com">Google</a></li>
        <li><a href="/pug_page">Pug Template Page</a></li>
    </ul>
    <h1><%= heading %></h1>
</body>
</html>